include *.rst
include *.txt
include .travis.yml
include LICENSE
include tox.ini
include *.spec
include AUTHORS
include CONTRIBUTORS
prune Makefile
prune debian
prune docs
recursive-include examples *.py
recursive-include examples *.sh
recursive-include examples *.tac
recursive-include tests *.py