Source: python-txmongo
Section: python
Priority: optional
Maintainer: Christian Hergert <christian@hergert.me>
Build-Depends: debhelper (>= 9~), python-support (>= 0.6), cdbs (>= 0.4.49), python-dev, python-setuptools
Standards-Version: 3.9.6

Package: python-txmongo
Architecture: all
Homepage: http://github.com/fiorix/mongo-async-python-driver
Depends: ${misc:Depends}, ${python:Depends}, python-pymongo (>= 2.1-1)
Description: An asynchronous Python driver for the Mongo database, based on Twisted.
  An asynchronous Python driver for the Mongo database, based on Twisted. 
  The txmongo package is an alternative to the original pymongo shipped with the Mongo database.
  Because the original pymongo package has it's own connection pool and blocking low-level socket operations, 
  it is hard to fully implement network servers using the Twisted framework. Instead of deferring database 
  operations to threads, now it's possible to do it asynchronously, as easy as using the original API.
